In [166]:
import numpy as np
import pandas as pd
from sklearn.impute import KNNImputer
from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import KNNImputer
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.pipeline import Pipeline
#!pip install fancyimpute
from fancyimpute import IterativeImputer

In [175]:
df = pd.read_stata("/Users/bryankim/Documents/NBER/Framingham /Data/nhanes_1999_2000_frs.dta")
# df = df[["seqn","riagendr","ridageyr","lbdhdl","lbxtc","asbp","smoke_sts","lbxgh","fpg","wtint2yr"]]
df = df[["lbxgh","fpg"]]
# df =df[~df.isin([np.nan, np.inf, -np.inf]).any(1)]
df = df[df['lbxgh'].notna()]
df.head()

   lbxgh   fpg
0    4.7  83.7
1    5.5  99.9
2    5.8  85.6
3    7.6   NaN
4    5.8   NaN

In [171]:
df.isna().any()

lbxgh    False
fpg       True
dtype: bool

In [172]:
df = pd.DataFrame(imputer.fit_transform(df),columns = df.columns)

In [174]:
df.isna().any()
df.head()

   lbxgh     fpg
0    4.7   83.70
1    5.5   99.90
2    5.8   85.60
3    7.6  169.52
4    5.8   95.68

In [105]:
print(df.shape[1])
# print(df.columns.get_loc("riagendr"))
# print(df.columns.get_loc("ridageyr"))
# print(df.columns.get_lxdf = pd.DataFrame(imputer.fit_transform(df),columns = df.columns)oc("lbdhdl"))
# print(df.columns.get_loc("lbxtc"))
# print(df.columns.get_loc("asbp"))
# print(df.columns.get_loc("smoke_sts"))
print(df.columns.get_loc("lbxgh"))
print(df.columns.get_loc("fpg"))

2
0
1

SEE NUMBER OF NaNs

In [148]:
# split into input and output elements
data = df.values
ix = [i for i in range(data.shape[1]) if i != 1]
X, y = data[:, ix], data[:, 1]
# print total missing
print('Missing: %d' % sum(np.isnan(X).flatten()))
# define imputer
imputer = KNNImputer()
# fit on the dataset
imputer.fit(X)
# transform the dataset
Xtrans = imputer.transform(X)
# print total missing
print('Missing: %d' % sum(np.isnan(Xtrans).flatten()))

Missing: 2152
Missing: 0

In [155]:
# define modeling pipeline
model = RandomForestClassifier()
imputer = KNNImputer(n_neighbors=5)
pipeline = Pipeline(steps=[('i', imputer), ('m', model)])
# define model evaluation
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
# evaluate model
# scores = cross_val_score(pipeline, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
# print('Mean Accuracy: %.3f (%.3f)' % (np.mean(scores), np.std(scores)))

In [157]:
df = pd.DataFrame(imputer.fit_transform(df),columns = df.columns)

In [39]:
imputer = sk.impute.KNNImputer(n_neighbors=5, weights='uniform', metric='nan_euclidean')

In [63]:
from fancyimpute import KNN
knn_imputer = KNN()
df_knn = df.copy(deep=True)
df_knn.iloc[:, :] = knn_imputer.fit_transform(df_knn)

Imputing row 1/4377 with 0 missing, elapsed time: 2.553
Imputing row 101/4377 with 0 missing, elapsed time: 2.556
Imputing row 201/4377 with 0 missing, elapsed time: 2.559
Imputing row 301/4377 with 0 missing, elapsed time: 2.561
Imputing row 401/4377 with 1 missing, elapsed time: 2.564
Imputing row 501/4377 with 1 missing, elapsed time: 2.567
Imputing row 601/4377 with 1 missing, elapsed time: 2.571
Imputing row 701/4377 with 1 missing, elapsed time: 2.574
Imputing row 801/4377 with 1 missing, elapsed time: 2.576
Imputing row 901/4377 with 0 missing, elapsed time: 2.579
Imputing row 1001/4377 with 1 missing, elapsed time: 2.582
Imputing row 1101/4377 with 1 missing, elapsed time: 2.584
Imputing row 1201/4377 with 0 missing, elapsed time: 2.587
Imputing row 1301/4377 with 1 missing, elapsed time: 2.590
Imputing row 1401/4377 with 0 missing, elapsed time: 2.592
Imputing row 1501/4377 with 0 missing, elapsed time: 2.595
Imputing row 1601/4377 with 0 missing, elapsed time: 2.597
Imputing row 1701/4377 with 0 missing, elapsed time: 2.599
Imputing row 1801/4377 with 1 missing, elapsed time: 2.603
Imputing row 1901/4377 with 0 missing, elapsed time: 2.605
Imputing row 2001/4377 with 0 missing, elapsed time: 2.608
Imputing row 2101/4377 with 1 missing, elapsed time: 2.611
Imputing row 2201/4377 with 1 missing, elapsed time: 2.614
Imputing row 2301/4377 with 8 missing, elapsed time: 2.639
Imputing row 2401/4377 with 8 missing, elapsed time: 2.673
Imputing row 2501/4377 with 8 missing, elapsed time: 2.709
Imputing row 2601/4377 with 8 missing, elapsed time: 2.744
Imputing row 2701/4377 with 8 missing, elapsed time: 2.783
Imputing row 2801/4377 with 9 missing, elapsed time: 2.819
Imputing row 2901/4377 with 8 missing, elapsed time: 2.854
Imputing row 3001/4377 with 8 missing, elapsed time: 2.889
Imputing row 3101/4377 with 8 missing, elapsed time: 2.924
Imputing row 3201/4377 with 8 missing, elapsed time: 2.957
Imputing row 3301/4377 with 8 missing, elapsed time: 2.994
Imputing row 3401/4377 with 8 missing, elapsed time: 3.030
Imputing row 3501/4377 with 8 missing, elapsed time: 3.064
Imputing row 3601/4377 with 8 missing, elapsed time: 3.098
Imputing row 3701/4377 with 8 missing, elapsed time: 3.133
Imputing row 3801/4377 with 8 missing, elapsed time: 3.167
Imputing row 3901/4377 with 8 missing, elapsed time: 3.201
Imputing row 4001/4377 with 8 missing, elapsed time: 3.237
Imputing row 4101/4377 with 8 missing, elapsed time: 3.271
Imputing row 4201/4377 with 8 missing, elapsed time: 3.304
Imputing row 4301/4377 with 8 missing, elapsed time: 3.335

In [64]:
from fancyimpute import IterativeImputer
MICE_imputer = IterativeImputer()
df_MICE = df.copy(deep=True)
df_MICE.iloc[:, :] = MICE_imputer.fit_transform(df_MICE)

In [73]:
df_KNN_imputed = df.copy(deep=True)
# Create MICE imputer
KNN_imputer = KNN()
users_KNN_imputed.iloc[:, :] = np.round(KNN_imputer.fit_transform(df_KNN_imputed))
for col in df_KNN_imputed:
    reshaped_col = df_KNN_imputed[col].values.reshape(-1, 1)
    users_KNN_imputed[col] = ordinal_enc[col].inverse_transform(reshaped_col)

Imputing row 1/4377 with 0 missing, elapsed time: 2.366
Imputing row 101/4377 with 0 missing, elapsed time: 2.369
Imputing row 201/4377 with 0 missing, elapsed time: 2.372
Imputing row 301/4377 with 0 missing, elapsed time: 2.374
Imputing row 401/4377 with 1 missing, elapsed time: 2.377
Imputing row 501/4377 with 1 missing, elapsed time: 2.380
Imputing row 601/4377 with 1 missing, elapsed time: 2.384
Imputing row 701/4377 with 1 missing, elapsed time: 2.386
Imputing row 801/4377 with 1 missing, elapsed time: 2.389
Imputing row 901/4377 with 0 missing, elapsed time: 2.391
Imputing row 1001/4377 with 1 missing, elapsed time: 2.394
Imputing row 1101/4377 with 1 missing, elapsed time: 2.396
Imputing row 1201/4377 with 0 missing, elapsed time: 2.399
Imputing row 1301/4377 with 1 missing, elapsed time: 2.401
Imputing row 1401/4377 with 0 missing, elapsed time: 2.404
Imputing row 1501/4377 with 0 missing, elapsed time: 2.406
Imputing row 1601/4377 with 0 missing, elapsed time: 2.409
Imputing row 1701/4377 with 0 missing, elapsed time: 2.411
Imputing row 1801/4377 with 1 missing, elapsed time: 2.414
Imputing row 1901/4377 with 0 missing, elapsed time: 2.417
Imputing row 2001/4377 with 0 missing, elapsed time: 2.419
Imputing row 2101/4377 with 1 missing, elapsed time: 2.421
Imputing row 2201/4377 with 1 missing, elapsed time: 2.425
Imputing row 2301/4377 with 8 missing, elapsed time: 2.450
Imputing row 2401/4377 with 8 missing, elapsed time: 2.483
Imputing row 2501/4377 with 8 missing, elapsed time: 2.515
Imputing row 2601/4377 with 8 missing, elapsed time: 2.548
Imputing row 2701/4377 with 8 missing, elapsed time: 2.582
Imputing row 2801/4377 with 9 missing, elapsed time: 2.614
Imputing row 2901/4377 with 8 missing, elapsed time: 2.647
Imputing row 3001/4377 with 8 missing, elapsed time: 2.681
Imputing row 3101/4377 with 8 missing, elapsed time: 2.715
Imputing row 3201/4377 with 8 missing, elapsed time: 2.752
Imputing row 3301/4377 with 8 missing, elapsed time: 2.787
Imputing row 3401/4377 with 8 missing, elapsed time: 2.821
Imputing row 3501/4377 with 8 missing, elapsed time: 2.853
Imputing row 3601/4377 with 8 missing, elapsed time: 2.885
Imputing row 3701/4377 with 8 missing, elapsed time: 2.917
Imputing row 3801/4377 with 8 missing, elapsed time: 2.949
Imputing row 3901/4377 with 8 missing, elapsed time: 2.981
Imputing row 4001/4377 with 8 missing, elapsed time: 3.019
Imputing row 4101/4377 with 8 missing, elapsed time: 3.058
Imputing row 4201/4377 with 8 missing, elapsed time: 3.091
Imputing row 4301/4377 with 8 missing, elapsed time: 3.124

NameError: name 'users_KNN_imputed' is not defined

In [74]:
df_KNN_imputed

,seqn,riagendr,ridageyr,lbdhdl,lbxtc,asbp,smoke_sts,lbxgh,fpg,wtint2yr
0,2.0,1.0,77.0,54.0,215.0,98.0,2.0,4.7,83.7,26678.636376
1,5.0,1.0,49.0,42.0,279.0,122.0,2.0,5.5,99.9,91050.846620
2,7.0,2.0,59.0,105.0,245.0,123.0,2.0,5.8,85.6,22352.088620
3,13.0,1.0,70.0,49.0,314.0,130.0,2.0,7.6,NaN,1647.446107
4,14.0,1.0,81.0,40.0,174.0,142.0,1.0,5.8,NaN,15131.714618
...,...,...,...,...,...,...,...,...,...,...
4372,9942.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83.5,NaN
4373,9950.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,92.9,NaN
4374,9951.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93.3,NaN
4375,9952.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83.1,NaN
4376,9961.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87.7,NaN